@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

/* * {
  outline: 1px solid red;
} */

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}



@media screen and (min-width:767px) {
  .h-100vh-50px {
    height: calc(100vh - 50px) !important;
  }
}

.h-90per {
  height: 85%;
}

.flow-wrap {
  flex-flow: wrap;
}